<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Edit</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
      <tbody>
        <!--With ngFor we can iterate the content of a var defined on the component-->
        <tr *ngFor="let note of notes">

          <!-- Pasar id como parámetro para mostrar notas individualmente-->
           <td> <a routerLink="/addnote" class="btn btn-info">Edit</a> </td> 
          <td>{{ note.title }}</td>
          <td>{{ note.body }}</td>
          <!--LLamar a funcionalidad de borrar aqui-->
          <td> <a routerLink="/addnote" class="btn btn-info bg-danger">Delete Note {{note.id}}</a> </td> 

        </tr>
      </tbody>
    </table>
  </div>
</div>
{{pruebaBindeo}}
<!--Comunicacion con modulo hijo, dataTemp es variable del hijo y prueba bindeo del padre -->
<app-note-content [noteBody]='pruebaBody'>

</app-note-content>